@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto";
  box-sizing: border-box;
}

:root {
  /* color */
  --black: #000000;
  --white: #ffffff;
  --black-secondary: #252525;
  --primary-color: #24665d;
  --secondary-color: rgba(36, 102, 93, 0.8);
}

/* header start */
.header .nav {
  width: 100%;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 9999;
}

.header .nav_scroll {
  padding: 0;
  background-color: var(--white);
  border-bottom: 2px solid var(--primary-color);
}

.header .nav_scroll .navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color);
}

.header .nav_scroll .navbar-light .navbar-nav .nav-link:hover {
  color: transparent !important;
  background-image: linear-gradient(90deg, green 50%, black 50%) !important;
  background-position: 200% !important;
  background-size: 200% 100% !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  transition: background-position 1s linear;
}

.header .navbar-light .navbar-nav .nav-link {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Lato";
}

.header .navbar-light .navbar-nav .nav-link:focus,
.header .navbar-light .navbar-nav .nav-link:hover {
  color: transparent !important;
  background-image: linear-gradient(90deg, black 50%, green 50%) !important;
  background-position: 200% !important;
  background-size: 200% 100% !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  transition: background-position 1s linear;
}

.header .nav_scroll .navbar-light .navbar-brand {
  color: var(--black);
}

.header .navbar-light .navbar-brand {
  color: var(--white);
}

.header .navbar-toggler:not(:disabled):not(.disabled) {
  border: 2px solid var(--white);
}
.header .navbar-toggler:not(:disabled):not(.disabled) span {
  color: var(--white);
}
.header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) {
  border: 2px solid var(--primary-color);
}
.header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) span {
  color: var(--primary-color);
}

/* header end */

/* hero secton start */
.hero-section {
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url("/assets/images/hero-img.jpg") var(--secondary-color);
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
}

.hero-section .title-inner {
  font-size: 36px;
  font-weight: 400;
  text-transform: none;
  color: var(--white);
  font-family: "Roboto";
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hero-section .hero-title {
  font-size: 180px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 180px;
  color: var(--white);
  font-family: "Lato";
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hero-section .hero-slogan {
  color: var(--white);
  font-size: 28px;
  font-weight: 400;
  text-transform: none;
  font-family: "Lato";
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.hero-section .read-more-btn {
  text-transform: uppercase;
  initial-letter: 2px;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 400;
}

/* hero-section end */
/* breadcrumb start */
.breadcrumb {
  background: url("/assets/images/breadcrumb-01.jpg") var(--secondary-color);
  padding: 10rem 0rem 15rem 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 10rem;
  background-blend-mode: multiply;
  margin-bottom: 0rem !important;
}

.breadcrumb .title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.breadcrumb .btn {
  border-radius: 50px;
  border: 2px dotted #01f1f4;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.breadcrumb .btn a {
  color: #fff;
}

.breadcrumb .btn span {
  color: var(--white);
  cursor: none;
}

/* breadcrumb end */

.feature-2-image {
  width: 100%;
  max-width: 676px;
  height: 553px;
  object-fit: cover;
}

/* contact page start */
.contact-section .contact-img {
  background-color: var(--secondary-color);
  background-position: center;
  min-height: 100%;
  background: url("/assets/images/contact-img.jpg") var(--secondary-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.contact-section .contact-info {
  /* height: 100%; */
}

.contact-section .contact-info .mail-address {
  margin-top: 10rem;
}
.contact-section .contact-info .mail-address ul li {
  color: var(--primary-color);
}
.contact-section .contact-send-btn {
  background-color: var(--primary-color);
  color: var(--white);
}
/* contact page end */

/* footer start */
.footer {
  /* background-color: var(--secondary-color); */
  color: var(--white);
  background: url("/assets/images/footer-img.jpg") var(--secondary-color);
  padding: 10rem 0rem 15rem 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* max-height: 5rem; */
  background-blend-mode: multiply;
}

.footer .footer-logo p {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  line-height: 140%;
  color: var(--white);
  font-family: "Lato";
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.footer .quick-links ul li a {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 130%;
  font-family: "Lato";
}
.footer .footer-contact {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 130%;
  font-family: "Lato";
}
.footer .footer-copyright {
  background-color: var(--primary-color);
}
/* footer end */
/* media query start */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .hero-section .title-inner {
    font-size: 24px;
  }

  .hero-section .hero-title {
    font-size: 120px;
    line-height: 100%;
  }

  .hero-section .hero-slogan {
    font-size: 28px;
    -webkit-line-clamp: 3;
  }
  .hero-section .read-more-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* navbar */
  .header .nav {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--white);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-brand {
    color: var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }

  /* hero section */
  .hero-section .title-inner {
    font-size: 24px;
  }

  .hero-section .hero-title {
    font-size: 100px;
    line-height: 100%;
  }

  .hero-section .hero-slogan {
    font-size: 24px;
    -webkit-line-clamp: 3;
  }

  .hero-section .read-more-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* navbar */
  .header .nav {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--white);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-brand {
    color: var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  /* hero section */
  .hero-section .title-inner {
    font-size: 24px;
  }

  .hero-section .hero-title {
    font-size: 80px;
    line-height: 100%;
  }

  .hero-section .hero-slogan {
    font-size: 24px;
    -webkit-line-clamp: 3;
  }

  .hero-section .read-more-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 376px) and (max-width: 575.98px) {
  /* navbar */
  .header .nav {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--white);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-brand {
    color: var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  /* hero section */
  .hero-section .title-inner {
    font-size: 24px;
  }

  .hero-section .hero-title {
    font-size: 80px;
    line-height: 100%;
  }

  .hero-section .hero-slogan {
    font-size: 24px;
    -webkit-line-clamp: 3;
  }

  .hero-section .read-more-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 0px) and (max-width: 375.98px) {
  /* navbar */
  .header .nav {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--white);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .nav_scroll .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
  }
  .header .navbar-light .navbar-brand {
    color: var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) {
    border: 2px solid var(--primary-color);
  }
  .header .navbar-toggler:not(:disabled):not(.disabled) span {
    color: var(--primary-color);
  }
  /* hero section */
  .hero-section .title-inner {
    font-size: 24px;
    padding-top: 2.5rem;
  }

  .hero-section .hero-title {
    font-size: 50px;
    line-height: 100%;
  }

  .hero-section .hero-slogan {
    font-size: 24px;
    -webkit-line-clamp: 3;
  }

  .hero-section .read-more-btn {
    font-size: 18px;
  }
}

/* mdeia query end */
